<%- include('partials/header.ejs') %> index4-1.html<br> <%= val1 %><br> <%- val1 %><br> <%- val2 %><br> <%- cnt %>
<% for(let i = 0; i < 10; i ++) { %> <p>このループは<%= i + 1 %>回目です。</p> <% } %> <%- include('partials/footer.ejs') %>
